<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">

    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">Trust our technology and make your recruitment campaign an easy game</h1>
      <p class="leading-relaxed mt-4">All you need is just one minute to create your account. We do not sell your information, we do not publish anything on social network. <br> Privacy is important for you, and you are important for us.</p>
    </div>

    <div class="lg:w-2/6 md:w-1/2 bg-gray-200 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 items-center">
      <h2 class="text-gray-900 text-xl font-medium title-font mb-5 items-center">K-Reer sign up form</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.label :'Your role is*: ' %>
          <%= f.select :role, ['Recruiter', 'Candidate'], :include_blank => true, class: "tracking-widest bg-white items-center rounded border border-gray-200 focus:outline-none focus:border-gray-200 text-base px-4 py-2 mb-4" %>
          <div>
            <br>
          </div>
          <!-- <%= f.label :email %> -->
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "tracking-widest bg-white items-center rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4", placeholder: "Email" %>


          <!-- <%= f.label :'First Name' %> -->
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "tracking-widest bg-white items-center rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4", placeholder: "First Name"  %>

          <!-- <%= f.label :'Last Name' %> -->
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "tracking-widest bg-white items-center rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" , placeholder: "Last Name" %>

          <!-- <%= f.label :'Password' %> -->
          <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
          <%= f.password_field :password, autocomplete: "new-password", class: "tracking-widest bg-white items-center rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4", placeholder: "Password"  %>
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "tracking-widest bg-white items-center rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4", placeholder: "Confirm password"  %>

        <div class="actions items-center">
          <%= f.submit "Sign up", class: "text-white tracking-widest items-center bg-teal-500 border-0 py-2 px-8 focus:outline-none hover:bg-teal-500 rounded text-sm" %>
        </div>
      <% end %>

    </div>
  </div>
</section>



