<% @candidates.each do |candidate| %>
  <section class="text-gray-700 body-font">
    <div class=" px-5 py-5 mx-auto">
      <div class="m-4">
        <div class="mb-6 p-4 flex flex-row items-center w-3/4 shadow-2xl rounded-lg mx-auto justify-center sm:justify-between md:justify-between lg:justify-between xl:justify-between border-2 border-indigo-500">
          <div class="flex flex-col md:flex-row lg:flex-row items-center">
            <div class="hidden md:block">
              <%= cl_image_tag("man-303792_1280_me24rf.png",
                               width: 120, height: 120, crop: :fill, :class => "object-cover object-center rounded-full m-4 border-2 border-gray-200 bg-gray-100") %>
            </div>
              <p class="p-4"><strong><%= candidate.first_name %> </br></strong><strong><%= candidate.last_name %> </br></strong></p>
              <div class="flex flex-col space-y-12">
            <button class="text-white bg-teal-500 shadow-lg border-0 p-3 px-10 px-10 mx-20 focus:outline-none hover:bg-teal-600 rounded"><%= link_to "See results", test_candidate_result_path(@test, candidate) %></button>
            <button class="text-white bg-teal-500 shadow-lg border-0 p-3 px-10 mx-20 focus:outline-none hover:bg-teal-600 rounded"><%= link_to "Contact candidate", "/ruby-book" %></button>
          </div>
            </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
