<% @candidates.each do |candidate| %>
  <section class="text-gray-700 body-font">
    <div class=" px-5 py-5 mx-auto">
      <div class="m-4">
        <div id="elements-container" class="py-6 flex flex-col flex flex-row  md:flex-row lg:flex-row items-center mb-6 p-4 max-w-4xl flex flex-row items-center w-4/6 shadow-2xl rounded-lg mx-auto justify-center border-2 border-indigo-500 items-center">
            <div class="pl-6 hidden ">
              <%= cl_image_tag("man-303792_1280_me24rf.png",
                               width: 120, height: 120, crop: :fill, :class => "object-cover object-center rounded-full m-4 border-2 border-gray-200 bg-gray-100") %>
            </div>
           <!--  Candidat profile -->
            <div class="mx-12">
                <div class="text-3xl mx-4">
                  <p class="p-4"><%= candidate.first_name %> <%= candidate.last_name %></br></p>
                </div>
                <div class="text-xl m-4 flex flex-col justify-center text-center">
                  <span class="shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-lg font-medium mb-4">
                      Success rate : <%= candidate.result_for_test(@test) %>%
                  </span>
                  <span class="w-42 shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-lg font-medium">
                      Completion : <%= candidate.completion_for_test(@test) %>%
                  </span>
                </div>
            </div>
           <!-- button element -->
            <div class="flex flex-col space-y-12">
              <button class="text-white bg-teal-500 shadow-lg border-0 p-3 px-10 px-10 mx-20 focus:outline-none hover:bg-teal-600 rounded"><%= link_to "See results", test_candidate_result_path(@test, candidate) %></button>
            </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
