<header class="text-white body-font purple-background">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" class="w-16 h-16 text-white p-2 bg-purple-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
        <%= link_to "K-reer", root_path, { :class => "ml-3 text-xl hover:text-white" } %>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center tracking-widest text-base justify-center">
    <% if user_signed_in? %>
          <a><%= link_to "Dashboard", dashboard_path, class: "mr-10 hover:text-white" %></a>
        <% if current_user.role == "Recruiter" %>
          <a><%= link_to "New campaign", new_test_path, class: "mr-10 hover:text-white" %></a>
        <% elsif current_user.role == "Candidate" %>
          <a><%= link_to "See my results", dashboard_path, class: "mr-10 hover:text-white" %></a>
        <% end %>
    <% else %>
    <% end %>
          <a><%= link_to "Contact", contact_path, class: "hover:text-white" %></a>
    </nav>

    <% if user_signed_in? %>
    <button class="inline-flex items-center tracking-widest bg-teal-500 border-0 py-1 px-3 focus:outline-none hover:bg-teal-600 rounded text-white mt-4 md:mt-0"><%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
   <% else %>
      <button class="inline-flex items-center tracking-widest bg-teal-500 border-0 py-1 px-3 focus:outline-none hover:bg-teal-600 rounded text-white mt-4 md:mt-0"><%= link_to "Login", new_user_session_path %>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
      </button>
  <% end %>
  </div>
</header>
