
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
  <div class="lg:w-2/6 md:w-1/2 bg-gray-200 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0">
    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Log-in</h2>

    <%= f.label :Email %>
    <%= f.email_field :email, required: false, autofocus: true, input_html: { autocomplete: "email" }, autocomplete: "email", class: "bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4", placeholder: "Email" %>
    <%= f.label :Password %>
    <%= f.password_field :password, required: false, autofocus: true, input_html: { autocomplete: "current-password" }, class: "bg-white rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4", placeholder: "Password" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" %>
    </div>
  <% end %>
  <br>
<%= render "devise/shared/links" %>
  </div>
</div>



