<% if current_user.role == "Recruiter" %>

    <section class="header text-white body-font">
    <div class="flex flex-row items-center mx-24">
    <button class="p-0 arrowsize inline-flex text-white bg-purple-500 border-0 focus:outline-none hover:text-teal-600 "><%= link_to " ←", test_path(@test) %></button>
    <button class="inline-flex text-white bg-purple-500 border-0 py-5 px-8 focus:outline-none hover:text-teal-600 text-2xl"><%= link_to "Back to results", test_path(@test) %></button>
    </div>
    <div class="container px-5 pt-2 mx-auto">
    <div class="text-center mb-10">
        <h1 class="sm:text-5xl text-2xl font-medium title-font text-black-500 mb-4"><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
    </div>
    </div>
    <h1 class="flex justify-center mb-2 text-xl title-font font-medium">Candidate overview</h1>
    <div class="flex flex-col w-5/6 sm:flex-row justify-center mx-auto sm:space-x-12 sm:mb-12">
            <div id="card-container justify-center items-center" class="mb-2 min-w-50">
                <div class="flex flex-row bg-white h-full min-w-1/2 border-2 shadow-lg border-indigo-500 rounded-lg overflow-hidden mx-6 justify-center mx-auto">
                    <div class="flex flex-row p-6 mx-6 justify-center">
                        <div class="flex flex-col mr-4">
                            <span class="shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-lg font-medium tracking-widest">
                            Completion
                            </span>
                            <h1 class="flex justify-center inline-block mt-5 py-1 px-3 rounded text-black text-lg font-medium tracking-widest">
                            <%= @candidate_completion_for_test %>%
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="card-container justify-center items-center" class="mb-2 min-w-50">
                <div class="flex flex-row bg-white h-full border-2 shadow-lg border-indigo-500 rounded-lg overflow-hidden mx-6 justify-center mx-auto">
                    <div class="flex flex-row p-6 mx-6 justify-center">
                        <div class="flex flex-col mr-4">
                            <span class="shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-lg font-medium tracking-widest">
                            Success rate
                            </span>
                            <h1 class="flex justify-center inline-block mt-5 py-1 px-3 rounded text-black text-lg font-medium tracking-widest">
                            <%= @candidate_results_for_test %>%
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <!--Waves Container-->
        <%= render "shared/waves" %>
        <!--Waves end-->
    </section>


    <section class="header text-white body-font">
        
    </section>
    <div class="container py-12 px-6 flex flex-col justify-center mx-auto items-center">
        <div id="graph-card" class="mb-8 bg-white shadow-lg w-4/5 p-6 flex flex-col justify-center items-center">
            <span class="mb-6 w-56 flex justify-center text-center shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-600 text-xl font-medium tracking-widest">
            Skills analysis
            </span>
            <p class="flex justify-center mb-2 text-md title-font font-medium"><%= @candidate.first_name %>'s skills compared to all other candidates</p>
            <% # height:75vh; %>
            <div class="p-8 h-auto relative" style="position: relative; width:80vw;">
                <canvas id="myChart" data-labels="<%= @labels.to_json %>" data-mean-values="<%= @mean_values %>" data-candidate-values="<%= @candidate_values %>"></canvas>
            </div>
        </div>
        <button class="text-white bg-teal-500 shadow-lg border-0 p-3 mx-20 focus:outline-none hover:bg-teal-600 rounded w-2/6 flex justify-center"><%= link_to "Contact candidate", "/ruby-book" %></button>
    </div>
<% elsif current_user.role == "Candidate" %>
    <section class="header text-white body-font">
    <div class="flex flex-row items-center mx-24">
    <button class="p-0 arrowsize inline-flex text-white bg-purple-500 border-0 focus:outline-none hover:text-teal-600 "><%= link_to " ←", test_path(@test) %></button>
    <button class="inline-flex text-white bg-purple-500 border-0 py-5 px-8 focus:outline-none hover:text-teal-600 text-2xl"><%= link_to "Back to results", test_path(@test) %></button>
    </div>
    <div class="container px-5 pt-2 mx-auto">
    <div class="text-center mb-10">
        <h1 class="sm:text-5xl text-2xl font-medium title-font text-black-500 mb-4"><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
    </div>
    </div>
    <h1 class="flex justify-center mb-2 text-xl title-font font-medium">Candidate overview</h1>
    <div class="flex flex-col w-5/6 sm:flex-row justify-center mx-auto sm:space-x-12 sm:mb-12">
            <div id="card-container justify-center items-center" class="mb-2 min-w-50">
                <div class="flex flex-row bg-white h-full min-w-1/2 border-2 shadow-lg border-indigo-500 rounded-lg overflow-hidden mx-6 justify-center mx-auto">
                    <div class="flex flex-row p-6 mx-6 justify-center">
                        <div class="flex flex-col mr-4">
                            <span class="shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-lg font-medium tracking-widest">
                            Completion
                            </span>
                            <h1 class="flex justify-center inline-block mt-5 py-1 px-3 rounded text-black text-lg font-medium tracking-widest">
                            <%= @candidate_completion_for_test %>%
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div id="card-container justify-center items-center" class="mb-2 min-w-50">
                <div class="flex flex-row bg-white h-full border-2 shadow-lg border-indigo-500 rounded-lg overflow-hidden mx-6 justify-center mx-auto">
                    <div class="flex flex-row p-6 mx-6 justify-center">
                        <div class="flex flex-col mr-4">
                            <span class="shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-lg font-medium tracking-widest">
                            Success rate
                            </span>
                            <h1 class="flex justify-center inline-block mt-5 py-1 px-3 rounded text-black text-lg font-medium tracking-widest">
                            <%= @candidate_results_for_test %>%
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <!--Waves Container-->
        <%= render "shared/waves" %>
        <!--Waves end-->
    </section>


    <section class="header text-white body-font">
        
    </section>
    <div class="container py-12 px-6 flex flex-col justify-center mx-auto items-center">
        <div id="graph-card" class="mb-8 bg-white shadow-lg w-4/5 p-6 flex flex-col justify-center items-center">
            <span class="mb-6 w-56 flex justify-center text-center shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-600 text-xl font-medium tracking-widest">
            Skills analysis
            </span>
            <p class="flex justify-center mb-2 text-md title-font font-medium"><%= @candidate.first_name %>'s skills compared to all other candidates</p>
            <% # height:75vh; %>
            <div class="p-8 h-auto relative" style="position: relative; width:80vw;">
                <canvas id="myChart" data-labels="<%= @labels.to_json %>" data-mean-values="<%= @mean_values %>" data-candidate-values="<%= @candidate_values %>"></canvas>
            </div>
        </div>
    </div>
<% end %>