<div class="container py-12 px-12">
    <%= link_to "Back to test results", test_path(@test) %>
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900"><%= @test.name %></h1>
    <h3 class="text-gray-900">Created <%= @test.created_at.to_formatted_s(:short) %></h3>
    <h3 class="text-gray-900"><%= @candidate.first_name %> <%= @candidate.last_name %></h3>
    <h3 class="text-gray-900"><%= @candidate.email %></h3>
    <p><%= @candidate_results_for_test %></p>
    <p><%= @candidate_completion_for_test %></p>

    <div class="container">
        <canvas id="myChart" data-labels="<%= @labels.to_json %>" data-mean-values="<%= @mean_values %>" data-candidate-values="<%= @candidate_values %>"></canvas>
    </div>
</div>