<section class="header text-white body-font">
<div class="flex flex-row items-center mx-24">
  <button class="p-0 arrowsize inline-flex text-white bg-purple-500 border-0 focus:outline-none hover:text-teal-600 "><%= link_to " â†", test_path(@test) %></button>
  <button class="inline-flex text-white bg-purple-500 border-0 py-5 px-8 focus:outline-none hover:text-teal-600 text-2xl"><%= link_to "Back to results", test_path(@test) %></button>
</div>
<div class="container px-5 pt-2 mx-auto">
  <div class="text-center mb-10">
    <h1 class="sm:text-5xl text-2xl font-medium title-font text-black-500 mb-4"><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
  </div>
</div>
<h1 class="flex justify-center mb-2 text-1xl title-font font-medium">Candidate overview</h1>
<div class="flex flex-col w-5/6 sm:flex-row justify-center mx-auto sm:space-x-12 sm:mb-12">
        <div id="card-container justify-center items-center" class="mb-2 min-w-50">
            <div class="flex flex-row bg-white h-full min-w-1/2 border-2 shadow-lg border-indigo-500 rounded-lg overflow-hidden mx-6 justify-center mx-auto">
                <div class="flex flex-row p-6 mx-6 justify-center">
                    <div class="flex flex-col mr-4">
                        <span class="shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-lg font-medium tracking-widest">
                        Completion
                        </span>
                        <h1 class="flex justify-center inline-block mt-5 py-1 px-3 rounded text-black text-lg font-medium tracking-widest">
                        <%= @candidate_completion_for_test %>%
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="card-container justify-center items-center" class="mb-2 min-w-50">
            <div class="flex flex-row bg-white h-full border-2 shadow-lg border-indigo-500 rounded-lg overflow-hidden mx-6 justify-center mx-auto">
                <div class="flex flex-row p-6 mx-6 justify-center">
                    <div class="flex flex-col mr-4">
                        <span class="shadow-sm inline-block py-1 px-3 rounded bg-indigo-100 text-indigo-500 text-lg font-medium tracking-widest">
                        Success rate
                        </span>
                        <h1 class="flex justify-center inline-block mt-5 py-1 px-3 rounded text-black text-lg font-medium tracking-widest">
                        <%= @candidate_results_for_test %>%
                        </h1>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!--Waves Container-->
    <%= render "shared/waves" %>
    <!--Waves end-->
</section>


<section class="header text-white body-font">
    
</section>
<div class="container py-12 px-6 flex flex-col justify-center mx-auto items-center">
    <h1 class="sm:text-5xl text-2xl font-medium title-font text-black-500 mb-6 flex justify-center">Skills analysis</h1>
    <div class="container p-0">
        <canvas class="p-0" id="myChart" data-labels="<%= @labels.to_json %>" data-mean-values="<%= @mean_values %>" data-candidate-values="<%= @candidate_values %>"></canvas>
    </div>
    <button class="text-white bg-teal-500 shadow-lg border-0 p-3 mx-20 focus:outline-none hover:bg-teal-600 rounded w-2/6 flex justify-center"><%= link_to "Contact candidate", "/ruby-book" %></button>
</div>