<div class="container py-12 px-12">
    <%= link_to "Back to test results", test_path(@test) %>
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900"><%= @test.name %></h1>
    <h3 class="text-gray-900">Created <%= @test.created_at.to_formatted_s(:short) %></h3>
    <h3 class="text-gray-900"><%= @candidate.first_name %> <%= @candidate.last_name %></h3>
    <h3 class="text-gray-900"><%= @candidate.email %></h3>
    <p><%= @candidate_results_for_test %></p>
    <p><%= @candidate_completion_for_test %></p>

    <% @test_mean_results.each do |key, value| %>
        <p><%= key %></p>
        <p><%= value %></p>
    <% end %>
    
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
</div>