
<section class="header text-white body-font">
<div class="flex flex-row items-center mx-24">
  <button class="p-0 arrowsize inline-flex text-white bg-purple-500 border-0 focus:outline-none hover:text-teal-600 "><%= link_to " â†", "/dashboard" %></button>
  <button class="inline-flex text-white tracking-widest bg-purple-500 border-0 py-5 px-8 focus:outline-none hover:text-teal-600 text-2xl"><%= link_to " My campaigns", "/dashboard" %></button>
</div>
<div class="mt-2">
  <div class="flex justify-center clipboard text-black mx-auto">
    <i class="far fa-copy bg-white p-3 clipper mx-1"></i>
      <input id="foo" class="rounded" value="<%= test_take_url(@test) %>">
        <button class="clipboardbtn" data-clipboard-target="#foo">
          <a class="inline-flex items-center bg-teal-500 border-0 py-1 px-3 focus:outline-none hover:bg-teal-600 rounded text-white mx-2 md:mt-0">Copy</a>
        </button>
  </div>
  <p class="flex justify-center">Share this link on a job offer or send it to candidates</p>
</div>

<div class="container px-5 py-12 mx-auto">
  <div class="text-center mb-10">
    <h1 class="sm:text-5xl text-2xl tracking-widest font-medium title-font text-black-500 mb-4">Search candidate results</h1>
  </div>
</div>
    <%= render "shared/search_bar" %>
    <!--Waves Container-->
    <%= render "shared/waves" %>
    <!--Waves end-->
</section>
<% if @candidates == [] %>
<section class="text-gray-700 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-5xl font-medium title-font mb-1 text-gray-900">No results...</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-xl">As soon as candidates will perform the test, answers will appear here.</p>
    </div>
  </div>
</section>
<% else  %>
  <div class="-mt-5">
  <%= render "shared/card_candidates" %>
  </div>
<% end %>
