<section class="header text-white body-font">
  <div class="flex flex-row items-center mx-24">
    <button class="inline-flex text-white bg-purple-500 border-0 py-2 px-2 focus:outline-none hover:text-teal-600 text-xl"><%= link_to " â† My campaigns", "/dashboard" %></button>
  </div>

  <div class="container px-5 py-5 mx-auto">
    <div class="text-center">
      <h1 class="text-4xl py-5 px-8"><strong><%= @test.name %></strong></h1>
    </div>
  </div>

  <div class="mt-2">
    <div class="flex justify-center clipboard text-black mx-auto">
      <i class="far fa-copy bg-white p-3 clipper mx-1"></i>
        <input id="foo" class="rounded" value="http://www.k-reer.com<%= test_take_path(@test) %>">
          <button class="clipboardbtn" data-clipboard-target="#foo">
            <a class="inline-flex items-center bg-teal-500 border-0 py-1 px-3 focus:outline-none hover:bg-teal-600 rounded text-white mx-2 md:mt-0">Copy</a>
          </button>
    </div>
    <p class="flex justify-center mt-2">Share this link on a job offer or send it to job applicants</p>
  </div>

  <div class="container px-5 py-10 mx-auto">
    <div class="text-center">
      <h1><%= render "shared/search_bar" %></h1>
      <p class="flex justify-center mt-2">Search for a candidate by its name or e-mail</p>
    </div>
  </div>
    <!--Waves Container-->
    <%= render "shared/waves" %>
    <!--Waves end-->
</section>

<!--placeholder message when there is no results yet-->
<% if @candidates == [] %>
<section class="text-gray-700 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-5xl font-medium title-font mb-1 text-gray-900">Sorry, you don't have any results yet...</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-sm">Please make sure that you have properly shared your test's link with all your applicants. Once done, you can just sit and relax whilst your applicants are taking the test. Results will start showing up as soon as the test has been completed by an applicant.</p>
    </div>
  </div>
</section>
<% else %>
  <div class="-mt-5">
  <%= render "shared/card_candidates" %>
  </div>
<% end %>
